[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8"
